.card-body-centered {
    display: flex;
    justify-content: center;
}

.table-container {
    width: 80%; /* Adjust the width as needed */
}


.plusCol {
    text-align: right;
    align-content: center;
}

