#productGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between items */
}

.product {
    width: calc(50% - 1px); /* 25% width for each product with some spacing */
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in width calculation */
    padding: 3px !important;
    border: solid;
    border-color: #e7f1ff;
}

.product img {
    width: 100%; /* Image width to fit its container */
    height: auto;
    border-radius: 5px;
}

.color-table {
    border-collapse: collapse;
    width: 100%;
}

.color-table th, .color-table td {
    padding: 8px;
    text-align: center;
}

.color-table th {
    background-color: #f2f2f2;
}

.color-square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #000;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-container img {
    display: none;
    width: 100%;
    height: auto;
}

.floating-cart-button {
    display: none;
    position: fixed;
    top: 56px; /* Adjust the distance from the top of the page */
    right: 20px; /* Adjust the distance from the right side of the page */
    width: 60px; /* Width of the button */
    height: 60px; /* Height of the button */
    background-color: #29d884; /* Button background color */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000; /* Ensure it floats above other content */
    transition: background-color 0.3s ease;
}

.floating-cart-button:hover {
    background-color: darkgreen; /* Change color on hover */
}

.cart-image {
    width: 70%; /* Adjust size of the cart image */
    height: auto;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

    .button-row button,
    .button-row .quantity-number {
        margin: 2px;
    }

.quantity-container .quantity-number {
    font-size: 16px;
}

.btn-increment, .btn-decrement {
    background-color: #f8f9fa;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
    flex-shrink: 0;
}

.btn-increment:hover, .btn-decrement:hover {
    background-color: #e2e6ea;
}

.btn-add {
    background-color: #29d884 !important;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    flex-shrink: 0;
}

.btn-add:hover {
    background-color: darkgreen;
}

@media (max-width: 768px) {
    .product {
        padding: 8px;
    }

    .btn-add {
        padding: 8px 16px;
        font-size: 14px;
    }

    .button-row {
        flex-direction: column;
    }
}

.incr-left {
    display: flex;
    justify-content: left; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center; /* Center text within the button */
}

.incr-right {
    justify-content: right; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center; /* Center text within the button */
}

.incr-center {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: center; /* Center text within the button */
}

.new-container {
    display: flex;
    margin-top: 10px;
}

.column {
    flex: 1;
}

.column label {
    display: block;
    margin-bottom: 5px;
}

.price-label {
    display: block;
    font-weight: bold;
    color: #198754;
    margin-bottom: 5px;
    font-size: 14px;
}

.price-value {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.agregado {
    border: 3px solid #198754;
}

.btn-xs {
    padding: 2px 6px; /* Smaller padding */
    font-size: 10px; /* Smaller font size */
    line-height: 1; /* Adjust line height */
    border-radius: 3px; /* Optional: smaller border radius */
}

.btn-xs i {
    font-size: 10px; /* Adjust icon size */
}

.valign-centered {
    vertical-align: middle;
}