@{
    ViewData["Title"] = "Login";
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <form>
                <img class="mb-4" src="~/img/Login.jpg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
                    <label for="floatingInput">Correo Electrónico</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Clave">
                    <label for="floatingPassword">Clave</label>
                </div>

                <div class="form-check text-start my-3">
                    
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Ingresar</button>
                <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
            </form>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>